<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ScoreMe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ScoreMe</h1>
        <p>Get the README complexity score for a Github repo:</p>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 input-col">
            <input id="score-url" type="text" class="form-control" placeholder="afnetworking/afnetworking" />
            <button id="find-score" class="btn" type="button">
              <span>Go!</span>
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
              </div>
            </button>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-warning" role="alert" id="error-container" style="display: none;">
              There was a problem and the score couldn't be calculated =\
            </div>
          </div>
        </div><!-- /.row -->
      </div>
    </div>

    <hr />

    <div class="container results-container">
      <div class="row score-row">
        <div class="col-md-12">
          <h2><span class="repo-name">clayallsopp/formotion</span> scored <span class="repo-score-article">an</span> <span class="repo-score green">82</span></h2>
        </div>
      </div>

      <div class="row">
        <div class="score-meter">
          <img src="assets/images/meter.svg" />
          <img id="dial" src="assets/images/dial.svg" />
        </div>
      </div>

      <div class="row scoreboard-row">
        <h2>Scoreboard</h2>
        <table>
          <tbody>
            <tr>
              <td class="breakdown-column"><span class="breakdown-score">40</span> out of 40</td>
              <td>Number of code blocks</td>
            </tr>
            <tr>
              <td class="breakdown-column"><span class="breakdown-score">10</span> out of 30</td>
              <td>Penalty for few code blocks (all or nothing)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row embed-row">
        <div class="col-md-12">
          <h2>Embed</h2>
        </div>
        <div class="col-md-5 col-md-offset-3">
          <input id="image-url" disabled type="text" class="form-control" value="asdasd" />
        </div>
        <div class="col-md-1">
          <button id="copy-image-url" class="btn" type="button">Copy!</button>
        </div>
      </div>
    </div>

    <hr class="results-hr" />

    <div class="container faq-container">
      <div class="row">
        <div class="col-md-12">
          <h3>What is this?</h3>
        </div>
        <div class="col-md-12 answer">
          <p>
            ScoreMe gives you a numerical score from 0 to 100 for your Github-style README. The intention is to measure complexity, which is a generally correlated with quality.
          </p>

          <p>
            It won't measure if one README is absolutely better than another, but it will give you a good idea if the README is high-quality, needs more work, or somewhere inbetween.
          </p>

          <p>
            You can use this website, <a href="#api">the HTTP API</a>, or the <a href="http://github.com/clayallsopp/readme-score">Ruby library</a> to calculate scores.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>What are some use cases for ScoreMe?</h3>
        </div>
        <div class="col-md-12 answer">
          <ul>
            <li>(Part of) a repository quality calculation</li>
            <li>Open-source related research</li>
            <li>Sanity-check for a README you're working with</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>My score doesn't seem correct?</h3>
        </div>
        <div class="col-md-12 answer">
          <p>
            Some projects like <a href="http://github.com/rails/rails">rails/rails</a> have most of their documentation outside of the README. In those cases, the score doesn't mean a whole lot if you're using it alone to interpret quality.
          </p>

          <p>
            If you feel like the calculation should be tweaked, then definitely <a href="https://github.com/clayallsopp/readme-score/issues">open an issue</a> with your expected and actual results.
          </p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="assets/js/main.js"></script>
    </body>
</html>
